body {
    padding: 0;
    margin: 0;
    color: black;
    font-size: 25px;
}


a {
    text-decoration: none;
}

ul,
li {
    display: block;
    padding: 20px;
    margin: 0;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

header {
    background-color: #f8f8f8;
    padding: 20px 0;
    color: #000000;
}

header a {
    color: #000000;
}

.logo {
    margin-right: 50px;
    color: orange;
}

.menu {
    display: flex;
}


.menu li a {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.1em;
    color: #000000;
}

.menu li a:hover {
    border-bottom: 1px solid #000000;
}

.menu li {
    margin-right: 40px;
}

.REG {
    font-size: 17px;
    margin-left: auto;
    letter-spacing: 0.1em;
    color: orange
}

.nav {
    display: flex;
    align-items: center;
}
section {
    text-align: center;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.row img {
    max-width: 100%;
    margin-right: 20px;
}

.why {
    text-align: left;
    width: 40%;
    margin-top: -100px;
    position: relative;
}

.why h1 {
    color: orange;
    font-size: 1em;
}

.why h3 {
   
    margin: 10px 0;
    color: #333;
    font-family: 'Times New Roman', Times, serif;
}

.why p {
    font-size: 0.8em;
    opacity: 0.7;
    margin: -10px 30px;
    margin-bottom: 50px;
    color: #555;
    white-space: normal;
    font-family: 'Times New Roman'
}
.img12{
    margin-top: -100px;
    position: relative;
}
.footer {
background: #191919;
padding: 30px 80px;
color: white;
font-family: 'Play', sans-serif;
text-align: left;
padding: 10px 80px;
}

.footer_content {
display: flex;
justify-content: space-between;
align-items: center;
flex-wrap: wrap;
}

.logo img {
width: 50px;
margin-bottom: 30px;
}

.help,
.sub,
.new {
flex-basis: 30%;
text-align: left;
flex-direction: row;
}

.help a,
.sub a {
display: inline-block;
margin-right: 20px;
color: white;
text-decoration: none;
transition: color 0.3s ease;
font-size: 0.8em

}
.help a{
opacity: 0.5;
}
.help a:hover,
.sub a:hover {
color: orange;
opacity: 1;
}

.sub i {
font-size: 1.5em;
margin-right: 20px;
}

.new {
flex-basis: 30%;
text-align: left;
display: flex;
flex-direction: column;
}

.new h6 {
margin-bottom: 10px;
color: white;
}

.new input {
padding: 10px;
margin-bottom: 10px;
}

.new button {
padding: 10px 20px;
background-color: #191919;
color: white;
border: 2px solid white;
cursor: pointer;
transition: background-color 0.3s ease, border 0.3s ease;
}

.new button:hover {
background-color: #eeb64f;
border: 2px solid #eeb64f   ;

}